.heading-section {
  background: $heading-bg;
  font-family: $ff;
  height: 60px;
  padding: 8px 0;
  border-top: 1px solid $primary-bg;
  margin-bottom: 40px;
  @mixin atLarge {
    height: 94px;
    padding: 25px 0 25px 80px;
    margin-bottom: 77px;
  }
  &.center {
    text-align: center;
    @mixin atLarge {
      text-align: left;
    }
  }
  h1 {
    font-size: calc($h1-size / 0.75rem);
    color: $primary-fg;
    margin: 0;
    padding: 0;
    @mixin atLarge {
      font-size: $h1-size;
    }
  }
}

.content {
  text-align: center;
}
.about .heading-section {
  margin-bottom: 0;
}
